In [1]:
class People:
    all_people = []
    number_people = 0
    
    def __init__(self, name , age = 0, study = 'none'):
        self.__name = name 
        self.__age = self.valid_age_tall(age , "age")
        self.__study = study 
        People.number_people += 1 
        People.all_people.append(self)

    # @property
    # def name(self):
    #     return self.__name

    # def __str__():
    #     return f"{People.all_people()}"

    @staticmethod
    def valid_age_tall(x , corrected_name):
        if x < 0:
            raise ValueError (f"{corrected_name} must be a valid value / positive")
        return x
        

    def get_name_age(self):
        return f' {self.__name} and {self.__age}'

    def set_name_age(self, new_name, new_age = None):
        self.__name = new_name
        if new_age == None:
            new_age = self.__age
        self.__age = new_age
        return f"the new name is {new_name} and the age is {new_age}"
        
    def describe(self):
        get_status = self.teenagers()
        # old_status = "old" if self.is_old() else "not old"
        return (f"The name is {self.__name}, {self.__age} years old, is a {get_status}, but studied: {self.__study} ")
        
    def teenagers(self):
        if self.__age <= 18:
            return "teenagers"
        elif self.__age > 19 and self.__age <50: #  19 <= self.__age < 50
            return "not Old"
        else:
            return "Old"

    def is_old(self, number = 78):
        return "Old" if self.__age >=number else "not Old"
        # if self.__age < number:
        #     print ('not Old')
        # else:
        #     print ('Old') 

    def who_is_older(self , other):
        if self.__age == other.__age:
            print ("same age")
        elif self.__age > other.__age:
            print(f"{self.__name} bigger")
        else:
            print (f"{other.__name} bigger")

    @classmethod
    def average_age(cls):
        if not cls.all_people:
            return 0
        total_age = sum(people.__age for people in cls.all_people)
        return int(total_age / len(cls.all_people))
    
    @classmethod
    def people_from_string(cls, person_data):
        try:
            name , age, study = person_data.split("," , 2)
            age = int(age.strip())
            study_list = study.strip("[]").split(",")
            return cls(name , age, study_list)
    
        except ValueError as e:
            raise ValueError (f"missing value in the string: {person_data}. the correct input: name as '' , age as number , study as '' or []. Error {e}")
        
        except Exception as e:
         raise Error(f"An unexpected error occurred while parsing: {e}")

    @staticmethod
    def mothly_salary(x , y):
        z = x * y
        steuer = z * 0.4
        salary = z - (steuer)
        return f"you worked every month {y} hrs and paid {x} per hr ,so your verdienen this Monate = {salary}"

In [2]:
class Gender(People):
    gender = "male"
    number_men_women = 0

    def __init__(self, name, age, study, gender, tall):
        super().__init__(name, age, study)
        self.__gender = gender 
        self.__tall = self.valid_age_tall(tall , "tall")

        Gender.number_men_women += 1

    def display(self):
        string = super().describe()
        return string + f" and {self.__tall} cm .......... {self.__gender}"

    def BMI(self , weight):
        
        classification = ' '
        
        if self.__gender == 'male': 
            bmi = (weight / (self.__tall)**2 ) * 10000
        
        else: 
            bmi = (weight / (self.__tall)**4) * 100000000

        if bmi <= 18.4:
            classification = "Underweight"
        elif  18.5 <= bmi >=24.9 :
            classification = "Normal"
        else:
            classification = "Overweight"

        return f"{bmi} and you are {classification}"

In [3]:
print(People.all_people)

[]

In [4]:
people_1 = People('Ahmad', 15 , "Informatik")
people_2 = People("Hadi" , 30 , ['IT' , 'Deutsch'])
people_3 = People("Morad" , 77 , 'rente')

In [5]:
people_16 = People('rr', 90 , "Informatik")

In [6]:
print(People.number_people)

4

In [7]:
print(People.all_people)

[<__main__.People object at 0x0000026CF46AEB10>, <__main__.People object at 0x0000026CF46BF7D0>, <__main__.People object at 0x0000026CF46BF0E0>, <__main__.People object at 0x0000026CF46BFC20>]

In [8]:
print(dir(People))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'all_people', 'average_age', 'describe', 'get_name_age', 'is_old', 'mothly_salary', 'number_people', 'people_from_string', 'set_name_age', 'teenagers', 'valid_age_tall', 'who_is_older']

In [9]:
people_1.describe()

'The name is Ahmad, 15 years old, is a teenagers, but studied: Informatik '

In [10]:
people_2.describe()

"The name is Hadi, 30 years old, is a not Old, but studied: ['IT', 'Deutsch'] "

In [11]:
people_16.describe()

'The name is rr, 90 years old, is a Old, but studied: Informatik '

In [12]:
people_1.get_name_age()

' Ahmad and 15'

In [13]:
People.who_is_older(people_1 , people_16)

rr bigger

In [14]:
People.average_age()

53

In [15]:
people_1.teenagers()
people_2.teenagers()
people_3.teenagers()

'Old'

In [16]:
# people_3.is_old(77)

In [17]:
people_1.get_name_age()

' Ahmad and 15'

In [18]:
people_1.set_name_age("Mohammad", 17)

'the new name is Mohammad and the age is 17'

In [19]:
people_1.get_name_age()

' Mohammad and 17'

In [20]:
data = 'Elias , 33 , Economy, Info, Math'
person_4 = People.people_from_string(data)

In [21]:
person_4.describe()

"The name is Elias , 33 years old, is a not Old, but studied: [' Economy', ' Info', ' Math'] "

In [22]:
g1 = Gender('Hossam' , 11 , ["IT" , "english"] , 'male' , 187.3)
g2 = Gender('Mona' , 33, 'Englisch', 'female' , 145)

In [23]:
Gender.number_men_women

2

In [24]:
g1.display()

"The name is Hossam, 11 years old, is a teenagers, but studied: ['IT', 'english']  and 187.3 cm .......... male"

In [25]:
g2.display()

'The name is Mona, 33 years old, is a not Old, but studied: Englisch  and 145 cm .......... female'

In [26]:
People.mothly_salary(13.25 , 160)

'you worked every month 160 hrs and paid 13.25 per hr ,so your verdienen this Monate = 1272.0'

In [27]:
g1.BMI(77)

'21.94902182901484 and you are Overweight'

In [28]:
g2.BMI (45)

'10.179829516132909 and you are Underweight'